server {
  listen   <%= node['nginx']['port'] -%>;
  listen   [::]:<%= node['nginx']['port'] -%> default ipv6only=on;
  root   <%= node['nginx']['default_root'] %>;
  index index.php index.html index.htm;
  #server_name <%= node['hostname'] %>;
  access_log  <%= node['nginx']['log_dir'] %>/localhost.access.log;
  error_log  <%= node['nginx']['log_dir'] %>/localhost.error.log;
  client_max_body_size 8M;
  ## Support for favicon. Return a 204 (No Content) if the favicon
  ## doesn't exist.
  location = /favicon.ico {
     try_files /data/favicon.ico =204;
  }

  location / {
    root   <%= node['nginx']['default_root'] %>;
    try_files $uri $uri/ /index.php?$args;
  }

  # redirect server error pages to the static page /50x.html
  #
  error_page 500 502 503 504 /50x.html;
  location = /50x.html {
    root /usr/share/nginx/html;
  }

  # pass the PHP scripts to FastCGI server listening on /tmp/php5-fpm.sock
  #
  location ~ \.php$ {
    try_files $uri =404;
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    fastcgi_pass unix:/var/run/php-fpm-www.sock;
    fastcgi_index index.php;
    include fastcgi_params;
  }

  # deny access to .htaccess files, if Apache's document root
  # concurs with nginx's one
  #
  location ~ /\.ht {
    deny all;
  }
}